################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mercury Language Extensions/bin/Debug
/Mercury Language Extensions/.vs/Mercury Language Extensions
/Mercury Language Extensions/obj
